.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  body {
      background-color;
  }
  
  .jumbotron-visina {
    padding-top: 0px;
    padding-bottom: 0px;

}
.jumbotron-image3 {
    padding-bottom: 15px;

}
.jumbotron-2 {
    mh-90

}
.jumbotron-visina1{
height: 100%
}